@import '../core.css';

html{
    background: white;
}
input[type=range]{
    -webkit-appearance: none;
    background:transparent;
    border-bottom:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    border-top:0px;
    height: 5px;
    color:black;
    cursor: pointer;

}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    border:1px solid black;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(214,218,20,0.25);
    width:20px;
    height: 20px;
}
#netflix input[type=range]::-webkit-slider-thumb,
#youtube input[type=range]::-webkit-slider-thumb,
#tiktok input[type=range]::-webkit-slider-thumb{
    background:#FF00FE;
}
#facebook input[type=range]::-webkit-slider-thumb,
#zoom input[type=range]::-webkit-slider-thumb,
#twitter input[type=range]::-webkit-slider-thumb{
    background:#00FFF9;
}
#instagram input[type=range]::-webkit-slider-thumb,
#call input[type=range]::-webkit-slider-thumb,
#email input[type=range]::-webkit-slider-thumb{
    background:#70FF00;
}
#kakaotalk input[type=range]::-webkit-slider-thumb{
    background:#FAFF00;
}

.testpage{
    background-color:white;
    width:100vw;
    color:black;
}

/*테스트 컨텐츠 요소*/
.input-contents .content-wrapper{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.get-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"Elice Digital Baeum";
    font-size:1.4rem;
}
.get-info-input{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100vw;
    height: 100vh;
}
.testpage section{
    width: 100vw;
    height: 100vh;
}

.get-info .input-info{
    margin:2rem 0;
    width:25rem;
    height: 50px;
    border:1px solid black;
    padding:0.5rem;
    font-size: 1.4rem;
    font-family:"Elice Digital Baeum";
    text-align: center;
    background-color: transparent;
}
.location-ex{
    margin-top:1rem;
    font-size: 1.1rem;
    font-family:"Elice Digital Baeum";
    color:#868887;
}
.submit-to-next{
    position: fixed;
    right:0;
    bottom:0;
    margin:0;
    background-color:#70FF00;
    font-family: 'Digitopia Bold';
    font-weight: 700;
    font-size:1.6rem;
    border:none;
    padding:1.3rem 1.5rem;
}
#get-name{
    z-index: 10;
}
#get-location{
    z-index: 5;
}
#get-appUseData{
    z-index: 1;
}
.next-clicked{
    display: none;
}
.next2-clicked{
    display:none;
}
.page3-close{
    display: none;
}
.test{
    font-family: 'Elice Digital Baeum';
    width: 1000px;
    height: 100vh;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size:1.3rem;
    margin:0 auto;
}
.applist-btn{
    display:flex;
    margin:3rem 10vw;
    background:transparent;
}

.applist-btn li{
    padding:0.5rem;
    width:48px;
    height: 48px;
    background:transparent;
}
.applist-btn li button{
    border:none;
    padding: 0;
    width:100%;
    height:100%;
    background:transparent;
}
.netfilx-color rect,
.youtube-color,
.tiktok-color rect,
.call-color rect,
.email-color rect{
    width:100%;
    height: 100%;
    fill:#FF00FE;
}
.facebook-color rect,
.twitter-color rect,
.zoom-color rect{
    width:100%;
    height: 100%;
    fill:#00FFF9; 
}
.instagram-color,
.call-color rect,
.email-color rect{
    width:100%;
    height: 100%;
    fill:#70FF00; 
}
.katalk-color rect{
    width:100%;
    height: 100%;
    fill:#FAFF00; 
}
.katalk-color path{
    fill:#000000;
}

.netflix-black,
.youtube-black,
.facebook-black,
.twitter-black,
.tiktok-black,
.instagram-black,
.katalk-black,
.call-black,
.zoom-black,
.email-black{
    width:100%;
    height:100%;
    fill: #000000;
}


.test-wrapper{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.test-box{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.ctrl-btn{
    width:50px;
    height: 50px;
    padding:5px;
    background: #000;
    border:none;
    border-radius:4px;
    color:#FFF;
}
.before_question{
    margin-right: 5vw;
}
.next_question{
    margin-left: 5vw;
}

.test-content{
    width:658px;
}
/* #netflix, #youtube, #facebook, #twitter, 
#tiktok, #instagram, #kakaotalk,
#call, #zoom, #email{
    display: none;
} */

.index-1, .index-2, .index-3,
.index-4, .index-5, .index-6,
.index-7, .index-8, .index-9, .index-10{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.app-title{
    display: flex;
}
.app-name{
    margin-left:1rem;
    font-size:1.4rem;
}
.app-name h5{
    font-weight: 800;
    margin-bottom: 0.6rem;
    font-family:"Digitopia Bold";
}

.question-box{
    margin-top:12%;
    margin-bottom: 10%;
    font-size: 1rem;
}


.qna{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.qna>div>input{
    margin-left:0.5em;
}
.value-box{
    width:75px;
    height: 34px;
    border:1px dashed #000;
    border-radius: 4px;
    background-color:#FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-range-bar{
    width:100%;
}

.btn-sm-green{
    font-family: 'Elice Digital Baeum';
    font-size: 1em;
    padding:0.5em;
    border-radius: 5px;
    background-color:black;
    color:white;
    width:70px;
    border:none;
}
.btn-sm-green:hover{
    background-color:#70FF00;
    color:black;
}
.btn-sm-green:focus{
    background-color:#70FF00;
    color:black;
}

.btn-sm-cyan{
    font-family: 'Elice Digital Baeum';
    font-size: 1em;
    padding:0.5em;
    border-radius: 5px;
    background-color:black;
    color:white;
    width:70px;
    border:none;
}
.btn-sm-cyan:hover{
    background-color:#00FFF9;
    color:black;
}
.btn-sm-cyan:focus{
    background-color:#00FFF9;
    color:black;
}

.submit-test{
    position: fixed;
    right:0;
    bottom:0;
    margin:0;
    background-color:#70FF00;
    font-family: 'Digitopia Bold';
    font-weight: 700;
    font-size:1.6rem;
    border:none;
    padding:1.3rem 1.5rem;
    z-index: 2;
} 
.submit-test-none{
    display:none;
}


@keyframes beforeResultBackground{
    from{
        background:white;
    }
    to{
        background:black;
    }
}
@keyframes showGoResult{
    from{
        background:transparent;
        color:white;
    }
    to{
        background:#70FF00;
        color:black;
    }
}
@keyframes beforeResultPixel{
    from{
        
    }
    to{
        fill:#70FF00;
    }
}
.before-result{
    width:100vw;
    height:100vh;
    animation-name:beforeResultBackground;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.before-result-none{
    display: none;
}
.go-result{
    animation-name:showGoResult;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    position: fixed;
    color:white;
    background-color:rgba(0,0,0,0);
    right:0;
    bottom:0;
    margin:0;
    font-family: 'Rany';
    font-weight: 700;
    font-size:1.6rem;
    border:none;
    padding:1.5rem;
    width:155px;
}
.go-result a{
    color:black;
}

#test-pixel-grid-container{
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(65,30px);
    grid-template-rows: repeat(36,30px);
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}

#test-pixel-grid-container .day-pixel-netflix,
#test-pixel-grid-container .day-pixel-youtube,
#test-pixel-grid-container .day-pixel-tiktok{
    background-image:url('../../assets/images/pixels/mosaic_pixel_pink\(30x30\).svg');
}

#test-pixel-grid-container .day-pixel-facebook,
#test-pixel-grid-container .day-pixel-twitter,
#test-pixel-grid-container .day-pixel-zoom{
    background-image:url('../../assets/images/pixels/mosaic_pixel_cyan\(30x30\).svg');
}

#test-pixel-grid-container .day-pixel-instagram,
#test-pixel-grid-container .day-pixel-email,
#test-pixel-grid-container .day-pixel-call{
    background-image:url('../../assets/images/pixels/mosaic_pixel_green\(30x30\).svg');
}

#test-pixel-grid-container .day-pixel-kakaotalk{
    fill:#FAFF00;
    background-image:url('../../assets/images/pixels/mosaic_pixel_yellow\(30x30\).svg');
}

#test-pixel-grid-container .week-pixel-netflix,
#test-pixel-grid-container .week-pixel-youtube,
#test-pixel-grid-container .week-pixel-tiktok{
    background-color:#FF00FE;
}

#test-pixel-grid-container .week-pixel-facebook,
#test-pixel-grid-container .week-pixel-twitter,
#test-pixel-grid-container .week-pixel-zoom{
    background-color:#00FFF9;
}

#test-pixel-grid-container .week-pixel-instagram,
#test-pixel-grid-container .week-pixel-email,
#test-pixel-grid-container .week-pixel-call{
    background-color:#70FF00;
}

#test-pixel-grid-container .week-pixel-kakaotalk{
    background-color:#FAFF00;
}