.test-pixel-grid-container{
    width:100vw;
    display: grid;
    grid-template-columns: repeat(66,30px);
    grid-template-rows: repeat(45,30px);
    position: absolute;
    top:0;
    left:0;
    
}
.test-pixel-item{
    background-color:#FAFF00;
    grid-column: 13;
    grid-row:17;
}