@import '../core.css';
@keyframes moveToRight{
    0% {
        margin-left:0;
    }
    100% {
        margin-left:20%;
    }
}
@keyframes moveToLeft{
    0% {
        left:0;
    }
    100% {
        left:-200px;
    }
}
body{
    background-color: black;
}
.start-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100vw;
    height: 100vh;
    overflow:hidden;
    background-color: black;
}
.start-page h1{
    font-size:10vw;
    font-family: "Montserrat Alternates";
    font-weight: 700;
    color:white;
    white-space: nowrap;

}
.first{
    animation-name: moveToRight;
    animation-duration:20s;
}
.second{
    position: relative;
    animation-name: moveToLeft;
    animation-duration:20s;
}
.third{
    position: relative;
    animation-name: moveToLeft;
    animation-duration:30s;
}

.intro-text{
    display: flex;
    align-items: center;
    color:white;
    position: absolute;
    right: 10vw;
    top:43vh;
}
.intro-text p{
    font-family: "NEXON Lv2 Gothic";
    font-weight: 400;
    margin:5%;
    font-size: 1vw;
    line-height: 2vw;
    width:20vw;
}

@media screen and (max-width:1024px){
    .start-page{
    }
    .start-page h1{
        font-size:11vw;
        margin:2vw 0;
    }
    .intro-text{
        position: inherit;
        margin:5vw auto;
    }
    .intro-text p{
        width:40vw;
        font-size: 2vw;
        line-height: 4vw;
        margin:0;
    }
}

@media screen and (max-width:480px){
    .start-page h1{
        font-size:15vw;
    }
    .intro-text{
        margin:10vw auto;
    }
    .intro-text p{
        width:60vw;
        font-size: 3vw;
        line-height: 6vw;
        margin:0;
    }
}