.result-pixel-grid-container{
    width:100vw;
    display: grid;
    grid-template-columns: repeat(66,30px);
    grid-template-rows: repeat(48,30px);
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}