@import '../core.css';

html{
    background: white;
}
/*NavBar view 수정*/
/* svg{
    fill:black;
}
.nav-bar .nav-menu-icon{
    display:none;
} */
.nav-bar a:nth-child(1){
    width:150px;
}
.testpage{
    background-color:white;
    width:100vw;
    color:black;
}

/*테스트 컨텐츠 요소*/
.input-contents{
}
.input-contents .content-wrapper{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.get-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"Elice Digital Baeum";
    font-size:1.4rem;
}
.get-info-input{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100vw;
    height: 100vh;
}
.testpage section{
    width: 100vw;
    height: 100vh;
}

.get-info .input-info{
    margin:2rem 0;
    width:25rem;
    height: 50px;
    border:1px solid black;
    padding:0.5rem;
    font-size: 1.4rem;
    font-family:"Elice Digital Baeum";
    text-align: center;
    background-color: transparent;
}
.submit-to-next{
    position: fixed;
    right:0;
    bottom:0;
    margin:0;
    background-color:#70FF00;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-size:1.6rem;
    border:none;
    padding:1rem;
}
#get-name{
    z-index: 10;
}
#get-location{
    z-index: 5;
}
#get-appUseData{
    z-index: 1;
}
.next-clicked{
    display: none;
}
.next2-clicked{
    display:none;
}


.test{
    font-family: 'Elice Digital Baeum';
    width:100vw;
    height: 100vh;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size:1.3rem;
    margin:0 auto;
}
.applist-btn{
    display:flex;
    flex-wrap: wrap;
    margin:3rem 10vw;
}

.applist-btn li{
    padding:0.5rem;
    width:48px;
    height: 48px;
}
.applist-btn li button{
    border:none;
    padding: 0;
    width:100%;
    height:100%;
}
.netfilx-color rect,
.youtube-color,
.tiktok-color rect,
.call-color rect,
.email-color rect{
    width:100%;
    height: 100%;
    fill:#FF00FE;
}
.facebook-color rect,
.twitter-color rect,
.zoom-color rect{
    width:100%;
    height: 100%;
    fill:#00FFF9; 
}
.instagram-color,
.call-color rect,
.email-color rect{
    width:100%;
    height: 100%;
    fill:#70FF00; 
}
.katalk-color rect{
    width:100%;
    height: 100%;
    fill:#FAFF00; 
}
.katalk-color path{
    fill:#000000;
}

.netflix-black,
.youtube-black,
.facebook-black,
.twitter-black,
.tiktok-black,
.instagram-black,
.katalk-black,
.call-black,
.zoom-black,
.email-black{
    width:100%;
    height:100%;
    fill: #000000;
}


.test-wrapper{
    width: 85vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}
.test-box{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.ctrl-btn{
    width:50px;
    height: 50px;
    padding:5px;
    background: #000;
    border:none;
    border-radius:4px;
    color:#FFF;
}
.before_question{
    margin-right: 5vw;
}
.next_question{
    margin-left: 5vw;
}

.test-content{
    width:658px;
}
/* #netflix, #youtube, #facebook, #twitter, 
#tiktok, #instagram, #kakaotalk,
#call, #zoom, #email{
    display: none;
} */

.index-1, .index-2, .index-3,
.index-4, .index-5, .index-6,
.index-7, .index-8, .index-9, .index-10{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.app-title{
    display: flex;
}
.app-name{
    margin-left:1rem;
    font-size:1.4rem;
}
.app-name h5{
    font-weight: 800;
    margin-bottom: 0.6rem;
}

.question-box{
    margin-top:12%;
    font-size: 1rem;
}


.qna{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.qna>div>input{
    margin-left:0.5em;
}
.value-box{
    width:75px;
    height: 34px;
    border:1px dashed #000;
    border-radius: 4px;
    background-color:#FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-range-bar{
    width:100%;
}

.btn-sm{
    font-family: 'Elice Digital Baeum';
    font-size: 1em;
    padding:0.5em;
    border-radius: 5px;
    background-color:black;
    color:white;
    width:70px;
    border:none;
}
.btn-sm:hover{
    background-color:#70FF00;
    color:black;
}

#submit-test{
    position: fixed;
    right:0;
    bottom:0;
    margin:0;
    background-color:#70FF00;
    font-family: 'Montserrat Alternates';
    font-weight: 700;
    font-size:1.6rem;
    border:none;
    padding:1rem;
    z-index: 2;
} 