@import '../core.css';
html{
    background: #000;
}
/* @keyframes earthMotion{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(10px);
    }
    100%{
        transform:translateY(0px);
    }
} */
.TestEarthList{
    width:100vw;
    height: 100vh;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../assets/images/earth_background.jpg);
    background-size:40rem;
    padding-top:6.3%;
    overflow:scroll;
    position: absolute;
    top:0;
    left:0;
}
 .earth-list{
    position: absolute;
    /* animation-name:earthMotion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: inherit; */
} 

.earth-content{
    position: relative;
}
.earth-list img{
    filter:grayscale(100%);
    width:300px;
}
.earth-list img:hover{
    transition:0.2s ease;
    filter:grayscale(0%);
}
.earth-list .earth-index{
    position: absolute;
    top:43.3%;
    left:46.5%;
    color:#70FF00;
    font-size:1.3rem;
    font-family: "Rany";
    font-weight: 500;
}