@import '../core.css';
html{
    background: #000;
}

.TestEarthList{
    width:100vw;
    height: 100vh;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../assets/images/earth_background.jpg);
    background-size:40rem;
    padding-top:6.3%;
    overflow:scroll;
    position: absolute;
    top:0;
    left:0;
}
 .earth-list{
    position: absolute;
} 

.earth-content{
    position: relative;
    filter:grayscale(100%);
}
.earth-content:hover{
    transition:0.2s ease;
    filter:grayscale(0%);
}
.earth-list img{
    width:300px;
}
.earth-list .earth-index{
    position: absolute;
    top:38.5%;
    left:41%;
    color:#70FF00;
    font-size:1.5rem;
    font-family: "Rany";
    font-weight: 500;
    padding:5%;
}