@import '../core.css';

@keyframes fadeInAnimation{
    from{
        top:-50px;
        opacity: 0;
    }
    to{
        top:0;
        opacity: 1;
    }
}

.TestResult{
    width:100vw;
    color:white;
    padding-top:20vh;
}


/* 섹션 정렬*/
.TestResult .test-result-section,
.TestResult .world-degital-section,
.TestResult .result-navigator
{
    width:80vw;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
}

.TestResult h3{
    font-size: 25px;
    font-family: "Elice Digital Baeum";
    font-weight: 600;
    text-align: center;
    line-height: 2.5rem;
}
.TestResult b{
    font-weight: 700;
}

/* 테스트 결과 section */
.TestResult .test-result-section article{
    padding: 4rem 0 4rem 0;
}

.test-result-summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
}
.result-sum-title{
    position: relative;
    font-size:1.75rem;
    font-family: "Elice Digital Baeum";
    margin:3rem 0;
    animation-name: fadeInAnimation;
    opacity: 0;
    animation-delay:0.1s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
.result-number{
    position: relative;
    font-family: "Rany";
    font-size:3.75rem;
    font-weight: 800;
    margin:3rem 0;
    animation-delay:0.3s;
    opacity: 0;
    animation-name: fadeInAnimation;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
.result-number span{
    font-size: 6.25rem;
    color: #FAFF00;
}

.result-metaphor{
    position: relative;
    font-size: 1.12rem;
    margin:3rem 0;
    font-family: "NEXON Lv2 Gothic";
    font-weight: 400;
     opacity: 0;
    animation-name: fadeInAnimation;
    animation-delay:0.5s;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}
.result-metaphor span{
    background-color:#FAFF00;
    color:black;
    font-size: 1.5rem;
    font-weight: 800;
    padding:0.1rem;
}
.result-metaphor-img{
    overflow: hidden;
    width:340px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 95% );
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 95% );
}

.result-metaphor-img svg{
    animation-name: fadeInAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin:3px;
    opacity: 0;
    position: relative;
}

.test-result-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.test-result-detail p{
    font-size: 1.1rem;
    margin: 1.5rem 0;
}

.test-result-recommend{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}
.recommend-text h3 {
    text-align: left;
}
.recommend-text h3 span{
    background-color: #FF00FD;
    color:black;
    padding:1px 5px;
    margin-right: 5px;
}
.recommend-text p{
    margin: 1rem 0 1.5rem 0;
}
.recommend-img{
    width:15rem;
    height: 15rem;
}
.recommend-img img{
    width:100%;
    height:100%;
}
.card-navigator{
    width:180px;
    color:#FF00FD;
    border:1px solid #FF00FD;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    padding: 1rem 0.8rem;
    font-family: "Elice Digital Baeum";
    font-size: 0.95rem;
    margin-top:1rem;
}
.card-navigator:hover{
    transition: 0.2s;
    background-color: #FF00FD;
    color:white;
}


/* 전세계 데이터 사용량 section*/
.world-digital-carbon-info,
.world-degital-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:5rem;
    width:100%;
}

.world-degital-title p{
    margin: 1rem 0;
}

.world-metaphor,
.world-degital-section ul,
.unit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.world-degital-section ul{
    margin-top: 3rem;
}
.world-degital-section ul li{
    padding:0.5rem;
    width:48px;
    height: 48px;
}

/*svg color 설정*/
.netfilx-color rect,
.youtube-color,
.tiktok-color rect,
.call-color rect,
.email-color rect{
    width:100%;
    height: 100%;
    fill:#FF00FE;
}
.facebook-color rect,
.twitter-color rect,
.zoom-color rect{
    width:100%;
    height: 100%;
    fill:#00FFF9; 
}
.instagram-color,
.call-color rect,
.email-color rect{
    width:100%;
    height: 100%;
    fill:#70FF00; 
}
.katalk-color rect{
    width:100%;
    height: 100%;
    fill:#FAFF00; 
}
.katalk-color path{
    fill:#000000;
}
.netflix-white rect,
.youtube-white,.youtube-white path:nth-child(3),
.facebook-white rect,
.twitter-white rect,
.tiktok-white rect,
.instagram-white path:nth-child(1),
.katalk-white rect,
.call-white rect,
.zoom-white rect,
.email-white rect{
    width:100%;
    height:100%;
    fill: #fff;
}
.netflix-white path,
.youtube-white path:nth-child(2),
.facebook-white path,
.twitter-white path,
.tiktok-white path,
.instagram-white path:nth-child(2),
.katalk-white path,
.call-white path,
.zoom-white path,
.email-white path{
    fill:#000;
}

.world-data-info{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.world-data{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:2rem;
}
.world-data .carbon{
    grid-column: 2;
    font-size: 3.1rem;
    font-family: "Rany";
    font-weight: 800;
    text-align: center;
}

.world-data .timer{
    grid-column: 1;
    font-size: 2.2rem;
    font-family: "Rany";
    font-weight: 700;
}

.world-data .unit{
    grid-column: 3;
    justify-content: flex-end;
}

.unit span{
    font-size: 6px;
    display: flex;
    align-items: center;
    margin-left: 6px;
}
.unit div{
    margin-right: 4px;
}
#kg1{
    display: inline-block;
    width:5px;
    height: 5px;
    background: #c4c4c4;
}
#kg50{
    display: inline-block;
    width:8px;
    height: 8px;
    background: #00FFF9;
}
#kg1000{
    display: inline-block;
    width:11px;
    height: 11px;
    background: #70FF00;
}
#kg10000{
    display: inline-block;
    width:15px;
    height: 15px;
    background: #FAFF00;
}
#kg100000{
    display: inline-block;
    width:19px;
    height: 19px;
    background: #FF00FE;
}
.world-data-carbon-visualization{
    width:100%;
    height: 512px;
    border:1px solid white;
    margin: 3rem 0 5rem 0;
}

.world-digital-carbon-title{
    font-size: 1.4rem;
    font-family: "Elice Digital Baeum";
}
.world-digital-carbon-number{
    font-size:3.8rem;
    color:#FF00FE;
    font-family: "Rany";
    font-weight: 800;
    margin:2.8rem 0 1.5rem 0;
}
.world-digital-carbon-unit{
    font-size:1.3rem;
    font-family: "NEXON Lv2 Gothic";
    font-weight: 600;
}

.world-digital-carbon-info .same{
    width:40px;
    height: 40px;
    padding:1rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    text-align: center;
    color:black;
    background-color:#BDBDBD;
    margin: 5rem 0;
    font-family: "Elice Digital Baeum";
    font-weight: bold;
}
.world-metaphor{
    justify-content: space-around;
    width:100%;
}
.world-metaphor-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.world-metaphor-object{
    font-size: 1rem;
    font-family: "NEXON Lv2 Gothic";
    font-weight: 500;
    background-color: #fff;
    color:black;
    padding: 0.5rem;
}
.world-metaphor-number{
    font-family: "Rany";
    font-weight: 800;
    font-size:3rem;
    margin:1.5rem 0;
}
.world-metaphor-unit{
    font-size: 1.3rem;
    font-family: "NEXON Lv2 Gothic";
    font-weight: bold;
}
.world-metaphor-img{
    width:294px;
    height:150px;
    overflow: hidden;
    margin:3rem 0 10rem 0;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, rgba(0,0,0,0.8) 60%);
    mask-image: linear-gradient(to top, transparent 0%, rgba(0,0,0,0.8) 60%);
}


/* 다른 페이지 추천 section */
.result-navigator hr{
    width:95px;
    height:2px;
    background: white;
    margin: 5rem 0;
}
.result-navigator-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-navigator-title h2{
    font-size:3.25rem;
    text-align: center;
    font-family: "Rany";
    font-weight: 800;
    line-height: 4.5rem;
}
.result-navigator-title p{
    font-family: "NEXON Lv2 Gothic";
    font-size: 1.4rem;
    text-align: center;
    margin:2rem 0;
}
.result-navigator-title span{
    color:#00FFF9;
}
.result-navigator-box-container{
    width:85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:6rem 0 8rem 0;
}
.result-navigator-box{
    text-align: center;
    width:32%;
    height: 15rem;
    padding:5rem 3rem;
    margin:1%;
    background:#252525;
    border-radius: 5px;
    color:white;
    font-family: "Elice Digital Baeum";
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-navigator-box p{
    line-height: 2.1rem;
}
.result-navigator-box .navigator-btn{
    width:70%;
    margin-top:5rem;
    background:#00FFF9;
    border-radius: 2px;
    border:none;
    padding:1rem 2rem;
    font-family: "Digitopia Bold";
    font-size: 1.1rem;
}
.result-navigator-box .navigator-btn:hover{
    background:#00AAFF;
    transition: 0.3s;
}
.result-navigator-box .navigator-btn a{
    color:black;
}