@import '../core.css';

.cardNews,
.cardNews-none-scroll{
    color: white;
    padding:14vh 10% 0 10%;
    background-image: url('../../assets/images/cardNews/cardnews_pixel.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
}
.cardNews{
    min-height:86vh;
}
/* .card-news-pixel{
    position: fixed;
    bottom:-2px;
    right:0;
    z-index: -10;
} */
.cardNews-none-scroll{
    overflow:hidden;
    height:86vh;
}

.cardNews h2,
.cardNews-none-scroll h2{
    font-family: 'Rany';
    font-size:1.9rem;
    font-weight: bold;
}
.cardNews .subtitle,
.cardNews-none-scroll .subtitle{
    display: flex;
    align-items: center;
}
.cardNews .subtitle p,
.cardNews-none-scroll .subtitle p{
    font-family: "NEXON Lv2 Gothic";
    font-size:1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin:1rem 0 2rem 0;
}

.cardnews-container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin-top:3rem;
}

.cardnews-item{
    width:calc(100%/5.5);
    margin:0.5%;
    background-color:transparent;
}
.cardnews-item img{
    width:100%;
    object-fit: cover;
    cursor: pointer;
}

.cardnews-modal{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.7);
    display:flex;
    justify-content: center;
    align-items: center;
}
.cardnews-modal img{
    width:40%;
    object-fit: cover;
}
.cardnews-modal .next-btn,
.cardnews-modal .prev-btn{
    background-color:#fff;
    border-radius: 2px;
    padding:0.9rem 1.15rem;
    margin:0 5rem;
    border:none;
    cursor: pointer;
}
.cardnews-modal svg path{
    fill:#000;
}
.hide{
    display:none;
}
.cardNews .cardnews-modal .back-btn,
.cardNews-none-scroll .cardnews-modal .back-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 70px;
    padding:0 1rem;
    font-family: 'Digitopia Bold';
    font-size: 1.5rem;
    color: #000;
    background: #70FF00;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:481px) and (max-width:768px){
    .cardNews{
        padding: 15% 5% 30% 5%;
        width:90vw;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .cardNews .subtitle{
        flex-direction: column;
        align-items: flex-start;
        width:100%;
        margin:1rem 0;
    }
    .cardNews h2{
        font-size: 1.8rem;
    }
    .cardNews h2,
    .cardNews .subtitle p{
        margin:0.1rem 3%;
    }
    .cardnews-container{
        margin-top:1rem;
    }
    .cardnews-item{
        width:49%;
        margin:0 0.5% 0 0.5%;
    }
    .cardnews-modal{
        min-height: 100vh;
        height:auto;
    }
    .cardnews-modal img{
        width:60%;
    }
    .cardnews-modal .next-btn,
    .cardnews-modal .prev-btn{
        z-index: 20;
        margin:0;
        position:fixed;
    }
    .cardnews-modal .next-btn{
        top:45vh;
        right:7vw;
    }
    .cardnews-modal .prev-btn{
        top:45vh;
        left:7vw;
    }
    .cardNews .cardnews-modal .back-btn,
    .cardNews-none-scroll .cardnews-modal .back-btn{
        position: absolute;
        bottom: 15vh;
        right: 20%;
        width: 60%;
        padding-top:3px;
        font-family: 'Digitopia Bold';
        font-size: 1.5rem;
        color: #000;
        background: #70FF00;
        border: none;
        cursor: pointer;
    }
}

@media screen and (max-width:480px){
    .cardNews{
        padding: 25% 2.5% 30% 2.5%;
        width:95vw;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .cardNews-none-scroll{
        height: 86vh;
    }
    .cardNews .subtitle{
        flex-direction: column;
        align-items: flex-start;
        width:100%;
        margin:1rem 0;
    }
    .cardNews h2{
        font-size: 1.8rem;
    }
    .cardNews h2,
    .cardNews .subtitle p{
        margin:0.1rem 3%;
    }
    .cardnews-container{
        margin-top:1rem;
    }
    .cardnews-item{
        width:49%;
        margin:0 0.5% 0 0.5%;
    }
    .cardnews-modal{
        min-height: 100vh;
        height:auto;
        touch-action: none;
    }
    .cardnews-modal img{
        width:100%;
    }
    .cardnews-modal .next-btn,
    .cardnews-modal .prev-btn{
        z-index: 20;
        margin:0;
        position:fixed;
    }
    .cardnews-modal .next-btn{
        top:45vh;
        right:1vw;
    }
    .cardnews-modal .prev-btn{
        top:45vh;
        left:1vw;
    }
    .cardNews .cardnews-modal .back-btn,
    .cardNews-none-scroll .cardnews-modal .back-btn{
        position: absolute;
        bottom: 8vh;
        right: 5vw;
        width: 90%;
        height: 55px;
        padding-top:3px;
        font-family: 'Digitopia Bold';
        font-size: 1.5rem;
        color: #000;
        background: #70FF00;
        border: none;
        cursor: pointer;
    }

}