@import '../core.css';

.cardNews{
    color: white;
    margin:10% 10% 0 10%;
}

.cardNews h2{
    font-family: 'Rany';
    font-size:1.9rem;
    font-weight: bold;
}
.cardNews p{
    font-family: "NEXON Lv2 Gothic";
    font-size:1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin:1rem 0 2rem 0;
}

.cardnews-container{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin-top:3rem;
}

.cardnews-item{
    width:calc(100%/5.5);
    margin:0.5%;
    background-color:blue;
}
.cardnews-item img{
    width:100%;
    object-fit: cover;
}
.card-news-pixel{
    position: fixed;
    bottom:-2px;
    right:0;
    z-index: -10;
}