@font-face{
  font-family: "Montserrat Alternates";
  font-weight: 300;
  src:url("../assets/fonts/MontserratAlternates-Regular.ttf");
}
@font-face{
  font-family: "Montserrat Alternates";
  font-weight: 400;
  src:url("../assets/fonts/MontserratAlternates-Medium.ttf");
}
@font-face{
  font-family: "Montserrat Alternates";
  font-weight: 700;
  src:url("../assets/fonts/MontserratAlternates-Bold.ttf");
}
@font-face{
  font-family: "Montserrat Alternates";
  font-weight: 800;
  src:url("../assets/fonts/MontserratAlternates-ExtraBold.ttf");
}
@font-face{
  font-family: "NEXON Lv2 Gothic";
  font-weight: 400;
  src:url("../assets/fonts/NEXON Lv2 Gothic.ttf");
}
@font-face{
  font-family: "NEXON Lv2 Gothic";
  font-weight: 500;
  src:url("../assets/fonts/NEXON\ Lv2\ Gothic\ Medium.ttf");
}
@font-face{
  font-family: "NEXON Lv2 Gothic";
  font-weight: 800;
  src:url("../assets/fonts/NEXON\ Lv2\ Gothic\ Bold.ttf");
}
@font-face{
  font-family: "Elice Digital Baeum";
  font-weight: 400;
  src:url("../assets/fonts/EliceDigitalBaeum_Regular.ttf");
}
@font-face{
  font-family: "Elice Digital Baeum";
  font-weight: 800;
  src:url("../assets/fonts/EliceDigitalBaeum_Bold.ttf");
}
@font-face{
  font-family: "Rany";
  font-weight: 800;
  src:url("../assets/fonts/Rany-Bold.otf");
}
@font-face{
  font-family: "Rany";
  font-weight: 500;
  src:url("../assets/fonts/Rany-Medium.otf");
}
@font-face{
  font-family: "Rany";
  font-weight: 400;
  src:url("../assets/fonts/Rany.otf");
}
@font-face{
  font-family: "Rany";
  font-weight: 300;
  src:url("../assets/fonts/Rany-Light.otf");
}
@font-face{
  font-family: "Digitopia Bold";
  font-weight: 800;
  src:url("../assets/fonts/Digitopia-Bold.otf");
}
@font-face{
  font-family: "Digitopia";
  font-weight: 400;
  src:url("../assets/fonts/Digitopia-Regular.otf");
}
@font-face{
  font-family: "Digitopia itallikk";
  font-weight: 400;
  src:url("../assets/fonts/Digitopia-Italikk.otf");
}
@font-face{
  font-family: "Digitopia itallikk bold";
  font-weight: 800;
  src:url("../assets/fonts/Digitopia-Italikk-bold.otf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
  font-size:16px;
  font-family: "NEXON Lv2 Gothic";
  font-weight: 400;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
  text-decoration: none;
}