@import '../core.css';

@keyframes blink-audio{
    50%{
        background:rgba(255,255,255,0.5);
    }
}
@keyframes moving{
    50%{
        bottom:110px;
    }
}
.bgm{
    position: absolute;
    bottom:100px;
    right:110px;
    z-index:1;
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}
.bgm .bgm-button{
    position: absolute;
    animation-name: blink-audio;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: step-end;
    width:60px;
    height: 60px;
    border-radius: 100px;
    border:1px solid white;
    background: transparent;
    color:white;
}
.bgm .bgm-audio{
    display: none;
}

@media screen and (max-width:480px){
    .bgm{
        bottom:90px;
        right:80px;
    }
    .bgm .bgm-button{
        width:50px;
        height:50px;
    }
}