@import "../core.css";

.Mainpage{
  /* background-image: url('../../assets/images/main_background.png'); */
  width:100vw;
  height: 100vh;
  background:transparent;
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Mainpage .video-area{
    padding: 0;
    width:100vw;
    height:100vh;
    overflow: hidden;
    position: absolute;
}
.Mainpage .video-area .back-video{
    width:100vw;
    position: absolute;
    z-index: 0;
    filter:grayscale(100%) brightness(80%);
}

.main_title{
    width:40vw;
    height:15vw;
    z-index: 1;
    fill:white;
}

.start-btn{
    font-family: "Digitopia";
    font-weight: 300;
    font-size: 1.5rem;
    width:10rem;
    height: 3rem;
    color:white;
    background:rgba(0,0,0,0);
    border:1px solid white;
    border-radius: 2px;
    z-index: 1;
}
.participant{
    margin-top:3.5vh;
    z-index: 1;
    color:white;
    font-family: "Elice Digital Baeum";
}

a{
    color:white;
    text-decoration: none;
}
@media screen and (max-aspect-ratio: 16/9) {
    .Mainpage .video-area .back-video{
       width: auto;
       height: 100vh;
    }
}


@media screen and (max-width:1024px) and (min-width:768px){
    .main_title{
        width:50vw;
        margin-bottom: 3vh;
    }
}

@media screen and (max-width:768px){
    .main_title{
        width:75vw;
        margin-bottom: 5vh;
    }
}
@media screen and (max-width:320px){
    .main_title{
        width:75vw;
        fill:white;
    }
}