@import "../core.css";

.Mainpage{
  /* background-image: url('../../assets/images/main_background.png'); */
  width:100vw;
  height: 100vh;
  background:transparent;
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Mainpage .back-video{
    width:100vw;
    height: 100vh;
    overflow:hidden;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    top:0;
    left:0;
}

.main_title{
    width:40vw;
    height:15vw;
    margin-bottom:5vh;
    z-index: 1;
    fill:white;
}

.start-btn{
    font-family: "Montserrat Alternates";
    font-weight: 300;
    font-size: 1.5rem;
    width:10rem;
    height: 3rem;
    color:white;
    background:rgba(0,0,0,0);
    border:1px solid white;
    border-radius: 5px;
    z-index: 1;
}

a{
    color:white;
    text-decoration: none;
}

@media screen and (max-width:1024px) and (min-width:768px){
    .main_title{
        width:50vw;
    }
}

@media screen and (max-width:768px){
    .main_title{
        width:70vw;
    }
}