@import '../core.css';
.ActionPlanEnding{
    width:100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ask-withus{
    background-image:url('../../assets/images/actionplans/monitor_frame.svg');
    width:1000px;
    height:524px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index:3;
}
.hide{
    display: none;
}
.ask-title{
    color:white;
    padding:0 8%;
}
.ask-title h2{
    font-family: 'Elice Digital Baeum';
    font-weight: 400;
    font-size:4.3rem;
}
.ask-title h3{
    font-family: 'Elice Digital Baeum';
    font-weight: 400;
    font-size:2.7rem;
    margin:1.7rem 0;
}
@keyframes blink{
    50%{
        color:black;
        background-color:#70FF00;
    }
}
.select-btn{
    padding:8%;
}
.select-btn .yes-btn,
.select-btn .no-btn{
    width:400px;
    padding:1rem 0;
    font-family: 'Digitopia Bold';
    font-size:2.3rem;
    margin-right: 1rem;
    background-color:transparent;
    border:1px dashed #ffffff;
    color:white;
}
.yes-btn{
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: step-end;
}
.yes-btn:hover,
.no-btn:hover{
    color:black;
    background-color:#70FF00;
}

@keyframes glitch{
    0%{
        opacity:1;
    }
    99%{
        opacity:1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.glitch-motion{
    display: flex;
    justify-content: center;
    align-items: center;
    animation:glitch 3s forwards;
    z-index:2;
    opacity: 100%;
}
.glitch-motion img{
    height: 100vh;
}

@keyframes showEnding{
    0%{
        opacity:0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        display:flex;
    }
}
.noEnding,
.yesEnding{
    z-index:1;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    overflow: hidden;
}
.no-ending-box,
.yes-ending-box{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url('../../assets/images/earth/earth.png');
    background-size: auto 562px;
    background-repeat: no-repeat;
    background-position: center;
    color:#fff;
    font-family: 'Elice Digital Baeum';
    font-weight: 600;
    font-size:1.9rem;
    width:1000px;
    height: 562px;
    line-height: 3rem;
    text-align: center;
    animation-name: showEnding;
    animation-duration: 3s;
}

.yes-ending-box span{
    background-color:#000;
    color:#70FF00;
}

.no-ending-box a{
    z-index: 3;
}
.back-btn{
    width:350px;
    height: 70px;
    font-family: 'Digitopia Bold';
    font-size: 1.5rem;
    color:#000;
    background: #70FF00;
    border:none;
    cursor: pointer;
}

@keyframes showHomeBtn{
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.home-btn{
    animation: showHomeBtn 6s forwards;
    position: fixed;
    color:black;
    background-color:#70FF00;
    right:0;
    bottom:0;
    margin:0;
    font-family: 'Digitopia Bold';
    font-size:1.6rem;
    border:none;
    padding:1.5rem;
    width:155px;
    z-index:5;
    display: inline;
}