@import '../core.css';

.ActionPlan{
    overflow: hidden;
    width:100vw;
    height:100vh;
}

.ActionPlan .background-img-container{
    width:100vw;
    height:100vh;
    display: flex;
    overflow:hidden;
    z-index: 1;
}
.ActionPlan .background-img-container img{
    width:100%;
    height:100%;
}

.image-handler{
    background-color:rgba(0,0,0,0.6);
    border-radius: 2px;
    padding:0.9rem 1.2rem;
    border:none;
    position: fixed;
    top: 50vh;
    right: 3.8vw;
}
.ActionPlan .actionplan-contents{
    color:white;
    position: absolute;
    top:15vh;
    left:13vw;
    height:85vh;
    z-index:4;
}

.ActionPlan .actionplan-contents h2{
    font-family: 'Rany';
    font-weight: 800;
    font-size:1.9rem;
}

.ActionPlan .actionplan-contents p{
    font-family: 'NEXON Lv2 Gothic';
    font-size:1rem;
    margin:1rem 0;
}
.ActionPlan .actionplan-contents .actionplan-list-container{
    height: 60vh;
    width:400px;
    background-color:rgba(0,0,0,0.8);
    position: fixed;
    bottom: 0;
    overflow: scroll;
}
.ActionPlan .actionplan-contents .actionplan-list{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ActionPlan .actionplan-contents .actionplan-list .actionplan-item{
    width:80%;
    color:white;
    font-family: 'NEXON Lv2 Gothic';
    font-size: 1.2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    cursor: pointer;
}
.ActionPlan .actionplan-contents .actionplan-list .actionplan-item svg{
    fill:white;
    margin-right: 1rem;
}
.ActionPlan .actionplan-contents .actionplan-list .actionplan-item .item-wrapper{
    display: flex;
    align-items: center;
}
.ActionPlan .actionplan-contents .actionplan-list .actionplan-item hr{
    margin: 2rem 0 0;
    width:100%;
    border:0;
    height:1px;
    background:white;
    opacity:0.5;
}
/*action plan list button active*/
.actionplan-item-active{
    width:90%;
    color:black;
    font-family: 'NEXON Lv2 Gothic';
    font-size: 1.2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    padding-left: 10%;
    background-color:white;
    cursor: pointer;
}
.actionplan-item-active svg{
    fill:black;
    margin-right: 1rem;
}
.actionplan-item-active .item-wrapper{
    display: flex;
    align-items: center;
}
.actionplan-item-active hr{
    margin: 2rem 0 0;
    width:100%;
    border:0;
    height:1px;
    background:white;
    opacity:0.5;
}

@keyframes pixelHide{
    0%{
        opacity:1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes pixelShow{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
#actionplan-pixel-container{
    width:100vw;
    height: 100vh;
    position: absolute;
    bottom:0;
    left:0;
    overflow: hidden;
    z-index: 2;
}

#actionplan-pixel-container svg{
    position: absolute;
    left:0;
    bottom: 0;
}

.ActionPlan .next-btn{
    position: fixed;
    color:black;
    background-color:#70FF00;
    right:0;
    bottom:0;
    margin:0;
    font-family: 'Digitopia Bold';
    font-size:1.6rem;
    border:none;
    padding:1.5rem;
    width:155px;
    z-index:5;
    display: inline;
}
.ActionPlan .next-btn-none{
    display:none;
}

.mobile-prevent{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2000;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top:0;
}
.mobile-prevent p{
    color:white;
    width:80%;
    margin:30px 0;
    text-align: center;
    font-size:1.5rem;
    line-height: 2.2rem;
}