@import '../core.css';

.modal{
    display:none;
}

.earth-modal-wrap{
    z-index: 1000;
}

.earth-modal{
    width:100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#70FF00;
    position: fixed;
    top:0;
    left:0;
}
.hide-earth-modal{
    display:none;
}
.modal-container{
    width:100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top:90px;
}
.earth-code{
    width:150px;
}
.earth-code>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Rany";
    font-weight: 300;
    font-size:20px
}
.earth-code>div>.code-num{
    font-family: "Rany";
    font-weight: 500;
    font-size:30px;
}
.earth-modal img{
    filter:grayscale(0%);
    width:500px;
    position: relative;
    top: -90px;
}
.close-modal{
    position: fixed;
    right:0;
    bottom:0;
    margin:0;
    background-color:#70FF00;
    font-family: 'Digitopia Bold';
    font-weight: 700;
    font-size:1.6rem;
    border:none;
    padding:1rem;
}
.earth-info {
    width:250px;
}
.earth-info div{
    margin:0 0 2.6rem 0;
    font-family: 'Rany';
    font-weight: 300;
    font-size:1.1rem;
    width:100%;
}
.earth-modal hr{
    background-color:#70FF00;
    height: 1px;
    border:none;
    width:100%;
}
.earth-info-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.earth-info-name>.value{
    padding:0.5rem;
    font-family:"Elice Digital Baeum";
    background-color:#70FF00;
    color:black;
    font-size:1.1rem;
}
.earth-info-location>.value{
    color:white;
    font-family:"Elice Digital Baeum";
    font-size: 1.1rem;
    width:100%;
    max-height: 50px;
    line-height: 1.5rem;
    word-break: normal;
    word-wrap:break-word;
    white-space: normal;
    overflow:scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.earth-info-location>.value::-webkit-scrollbar{
    display:none;
}
.earth-info-message>.value{
    font-size:1.1rem;
    font-family:"Elice Digital Baeum";
    font-weight: 400;
    color:White;
    float: right;
    width:100%;
    max-height: 180px;
    line-height: 1.5rem;
    word-break: normal;
    word-wrap:break-word;
    white-space: normal;
    overflow:scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.earth-info-message>.value::-webkit-scrollbar{
    display:none;
}
.earth-info-date{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top:1.5rem;
}
.earth-info-date>.value{
    font-size:15px;
}

/*----모바일 ver----*/
@media screen and (max-width:480px){
    .earth-modal-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .modal-container {
        height: 90vh;
        padding: 5vh 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .modal-box{
        width:90%;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        height: 80vh;
        top:0;
        overflow-y:scroll;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
    .modal-box::-webkit-scrollbar{
        display:none;
    }
    .earth-modal img{
        width: 80vw;
        top:0;
    }

    .earth-info{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .earth-info div{
        width:70%;
        font-size: 1rem;
        margin: 0 0 2rem 0;
    }
    .earth-info .value{
        text-align: right;
        font-size: 1rem;
    }
    .earth-info-message>.value{
        max-height: 80px;
    }
    .earth-info-date{
        padding-top:0;
    }

    .close-modal{
        position: fixed;
        left: auto;
        right: auto;
        width: 90%;
        bottom: 2vh;
    }
}

/*----태블릿 ver----*/
@media screen and (min-width:481px) and (max-width:800px){
    .earth-modal-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:100vw;
    }
    .modal-container {
        height: 90vh;
        padding: 5vh 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .modal-box{
        width:90%;
        height: 90%;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        top:0;
        overflow-y:scroll;
        -ms-overflow-style: none; 
        scrollbar-width: none;
    }
    .modal-box::-webkit-scrollbar{
        display:none;
    }
    .earth-modal img{
        width: 50vw;
        top:0;
    }

    .earth-info{
        width:60%;
        height: 32vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .earth-info div{
        font-size: 1.2rem;
        margin: 0 0 2.5rem 0;
    }
    .earth-info .value{
        text-align: right;
        font-size: 1rem;
    }
    .earth-info-message>.value{
        max-height: 80px;
    }
    .earth-info-date{
        padding-top:0;
    }

    .close-modal{
        position: fixed;
        left: 20%;
        right: auto;
        top:auto;
        width: 60%;
        bottom: 5vh;
    }
}

