@import '../core.css';
html{
    background: #000;
}

.TestEarthList{
    width:100vw;
    height: 100vh;
    color:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../assets/images/earth/earth_background.jpg);
    background-size:40rem;
    overflow:scroll;
    position: absolute;
    top:0;
    left:0;
}
.guestbook{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:white;
    position: fixed;
    left:10rem;
    top:13vh;
    z-index: 100;
}

.guestbook h1{
    font-size: 1.9rem;
    font-family: 'Rany';
    font-weight: 800;
    margin-bottom: 0.6rem;
}
.earth-ticket{
    background-image: url('../../assets/images/earth/ticket_back.png');
    background-size: 271px;
    background-color:transparent;
    width:271px;
    height:513px;
    display: grid;
    grid-template-rows: 65px 33px 33px 69px 193px 59px 62px;
    justify-items: center;
    color:black;
    margin-top:2rem;
}
.earth-ticket .title{
    grid-row:1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:82%;
    margin:6% 0;
    padding:1.5% 3% 0 3%;
    background-color:black;
    border-radius: 6px;
    color:white;
    font-size:1.4rem;
    font-family: 'Digitopia Bold'; 
}
.earth-ticket .name{
    grid-row:2;
    width:85%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.earth-ticket .location{
    grid-row:3;
    width:85%;
    display:flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.earth-ticket .name span:nth-child(1),
.earth-ticket .location span:nth-child(1){
    border:1px solid rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    padding:0.2rem 0.3rem 0.1rem;
    font-family: 'Digitopia';
    font-size: 0.7rem;
}
.earth-ticket .name span:nth-child(2),
.earth-ticket .location span:nth-child(2){
    font-family: 'Elice Digital Baeum';
    font-weight: 400;
    font-size:0.9rem;
    width:131px;
    overflow-x:scroll;
    overflow-y:hidden;
    max-height:100%;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: right;
    height: 1.1rem;
}
.earth-ticket .name span:nth-child(2)::-webkit-scrollbar,
.earth-ticket .location span:nth-child(2)::-webkit-scrollbar{
    display: none;
}

.earth-ticket .result{
    grid-row:4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:85%;
}   
.earth-ticket .result .result-data{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    border-radius: 6px;
    width:78%;
    height: 39px;
    font-family:'Rany';
    font-weight: 500;
    font-size:0.8rem;
}
.earth-ticket .result .result-data span:nth-child(1){
    font-size:1.3rem;
}
.earth-ticket .result .result-data span:nth-child(2){
    margin:0.3rem 0 0 0.4rem;
}
.earth-ticket .message{
    grid-row:5;
    width:85%;
    height: 100%;
    display:flex;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Elice Digital Baeum';
    font-weight: 400;
}
.earth-ticket .message .message-text{
    width:100%;
    height:88%;
    border-radius: 6px;
    border:1px solid black;
    padding:5%;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    overflow:scroll;
    font-size: 0.9rem;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    line-height: 1.5rem;
}
.earth-ticket .message .message-text::-webkit-scrollbar{
    display:none;
}
.earth-ticket .message .textarea{
    width:100%;
    height:88%;
    border-radius: 6px;
    border:1px solid black;
    padding:5%;
}
.earth-ticket .message .hide{
    display:none;
}
.earth-ticket .message textarea::placeholder{
    color:#adadad;
    font-family: 'Digitopia';
    font-size: 1.3rem;
    text-align: center;
    padding-top:38%;
}
.earth-ticket .created_at{
    grid-row:6;
    width:85%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Digitopia';
}
.earth-ticket .created_at hr{
    width:1px;
    height: 24px;
    background: #000;
    border: none;
}
.earth-ticket .created_at .date,
.earth-ticket .created_at .time{
    position: relative;
    width:103px;
    height: 23px;
}
.earth-ticket .created_at .date span:nth-child(1),
.earth-ticket .created_at .time span:nth-child(1){
    position: absolute;
    top:0;
    left:0;
    font-size:0.8rem;
}
.earth-ticket .created_at .date span:nth-child(2),
.earth-ticket .created_at .time span:nth-child(2){
    position: absolute;
    bottom:0;
    right:0;
    font-size: 1rem;
}
.earth-ticket .take{
    grid-row:7;
    font-family: 'Rany';
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    background:transparent;
    border:none;
}
.earth-ticket .take span{
    margin:0 0.7rem;
}


.earth-list{
    position: absolute;
} 

.earth-content{
    position: relative;
    filter:grayscale(100%);
}
.earth-content:hover{
    transition:0.2s ease;
    filter:grayscale(0%);
}
.earth-list img{
    width:300px;
}
.earth-list .earth-index{
    position: absolute;
    top:38.5%;
    left:41%;
    color:#70FF00;
    font-size:1.5rem;
    font-family: "Rany";
    font-weight: 500;
    padding:5%;
    cursor: pointer;
}

.TestEarthList .search-form{
    position: fixed;
    bottom:0;
    left:0;
    z-index: 100;
    width:20vw;
    height:8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:white;
    padding:0 3%;
  
}
.TestEarthList .search-form input{
    width:87%;
    height:100%;
    background:white;
    font-size: 1.4rem;
    font-family: 'Elice Digital Baeum';
    font-weight: 400;
    border:none;
    padding:0;
}
.TestEarthList .search-form input:focus{
    outline: none;
}
.TestEarthList .search-form input::placeholder{
    color:#333;
    font-family: 'Digitopia';
}
.TestEarthList .search-form button{
    position:absolute;
    right:1rem;
    background:transparent;
    border:none;
}