@import '../core.css';

.DataCenterPage{
    color:white;
    background:black;
    width:74vw;
    margin:15vh 13vw;
    position: relative;
    font-family: 'Elice Digital Baeum';
    font-weight: 400;
    overflow-x: hidden;
}
.DataCenterPage .contents{
    max-width:1024px;
    margin:0 auto;
}
.DataCenterPage p{
    line-height: 1.5em;
}
.DataCenterPage p:not(.impact-text){
    font-size: 1.5rem;
}
.DataCenterPage .impact-text{
    font-size:1.8rem;
}

.DataCenterPage .title{
    position: absolute;
    top:0;
    left:0;
}
.DataCenterPage .title h1{
    font-family: 'Rany';
    font-weight: 800;
    font-size:1.9rem;
}

.DataCenterPage .title h5{
    font-family: 'NEXON Lv2 Gothic';
    font-size:1rem;
    margin:1rem 0;
    line-height: 1.5em;
}
.DataCenterPage .scroll-section{
    padding-top:50vh;
    width:100%;
    border:3px solid red;
}
.DataCenterPage .center-text{
    justify-content: center;
}
.DataCenterPage #scroll-section-3 .center-text{
    text-align: center;
}
.DataCenterPage .left-text{
    justify-content: flex-start;
}
.DataCenterPage .right-text{
    justify-content: flex-end;
}

#scroll-section-1{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Digitopia itallikk bold'
}

#scroll-section-1 .wifi-icon{
    margin:0 29px
}

.sticky-elem{
	display: none;
	top:0;
	left:0;
	width:100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem{
    display:flex;
}

.DataCenterPage .action-plan-nav{
    display: flex;
    width:100%;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
}
.DataCenterPage .action-plan-box{
    width:427px;
    height:377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#252525;
    border-radius: 2px;
}
.DataCenterPage .action-plan-box h2{
    font-family: 'Rany';
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.DataCenterPage .action-plan-box button{
    font-size:1.3rem;
    background:#FF00FE;
    border:none;
    border-radius: 2px;
    width:253px;
    height:60px;
    margin-top:52px;
}