@import '../core.css';

.DataCenterPage{
    color:white;
    background:black;
    width:74vw;
    margin:15vh 13vw;
    position: relative;
    font-family: 'Elice Digital Baeum';
    font-weight: 400;
    overflow-x: hidden;
}
.DataCenterPage .contents{
    max-width:1024px;
    width:100%;
    margin:0 auto;
}
.DataCenterPage p{
    line-height: 1.5em;
}
.DataCenterPage p:not(.impact-text){
    font-size: 1.5rem;
}
.DataCenterPage .impact-text{
    font-size:2.7vh;
}

.DataCenterPage .title{
    position: absolute;
    top:0;
    left:0;
}
.DataCenterPage .title h1{
    font-family: 'Rany';
    font-weight: 800;
    font-size:1.9rem;
}

.DataCenterPage .title h5{
    font-family: 'NEXON Lv2 Gothic';
    font-size:1rem;
    margin:1rem 0;
    line-height: 1.5em;
}
.DataCenterPage .scroll-section{
    /* padding-top:50vh; */
    width:100%;
    /* height:0; */
}
.DataCenterPage .center-text{
    justify-content: center;
}
.DataCenterPage #scroll-section-3 .center-text{
    text-align: center;
}
.DataCenterPage .left-text{
    justify-content: flex-start;
    transform: translateX(-250px);
}
.DataCenterPage .right-text{
    justify-content: flex-end;
    transform: translateX(350px);
}

.DataCenterPage .phone-img{
    width:auto;
    height:80vh;
}
.DataCenterPage .phone-img-lg{
    width:auto;
    height:110vh;
}
.DataCenterPage .phone-img-sm{
    width:auto;
    height:70vh;
}
.pixel-img{
    width:100vw;
    height:auto;
}

#scene2 .left-text{
    transform: translate(-250px,-150px);
}
#scene1 .right-text{
     transform: translateX(385px);
}
#scene2 .right-text{
    transform: translate(350px,150px);
}
#scene2_img{
    transform: translateY(15.4vh);
}

#scroll-section-1{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Digitopia itallikk bold';
}

#scroll-section-1 .wifi-icon{
    margin:0 29px;
    transform: translate(-0.55vh,20px);
}

.DataCenterPage .sticky-elem{
	display:flex;
    justify-content: center;
    align-items: center;
	top:0;
	left:0;
	width:100%;
}

.DataCenterPage .earth-graphic-img{
    position: absolute;
    transform: translate(-80px,20px);
    width:auto;
    height:100vh;
}
#scene4 .side-info{
    position: absolute;
    left: -50px;
}
#scene4 .info-btn{
    top: -250px;
    font-size: 0.8rem;
}
#scene4 .info{
    top: -330px;
    font-size: 1.2rem;
}
#scene4 .data_info_btn{
    position: absolute;
    left:-18px;
}

.DataCenterPage .scene-outro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.DataCenterPage .scene-outro p{
    text-align: center;
    vertical-align:top;
    height:3rem;
}
.DataCenterPage .scene-outro img{
    transform: translateY(50px);
}



.DataCenterPage .action-plan-nav{
    display: flex;
    width:100%;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    min-width: 800px;
}
.DataCenterPage .action-plan-nav p{
    margin-right:30px;
}
.DataCenterPage .action-plan-box{
    width:427px;
    height:377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#252525;
    border-radius: 2px;
}
.DataCenterPage .action-plan-box h2{
    font-family: 'Rany';
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.DataCenterPage .action-plan-box button{
    font-size:1.3rem;
    background:#FF00FE;
    border:none;
    border-radius: 2px;
    width:253px;
    height:60px;
    margin-top:52px;
}

@media (max-width:1023px){
    .DataCenterPage{
        margin:11vh 5vw;
        width:90vw;
    }
    .DataCenterPage .title h1{
        font-size:1.2rem;
    }
    .DataCenterPage .title h5{
        font-size:0.8rem;
    }
    .DataCenterPage p:not(.impact-text){
        font-size:1rem;
    }

    .DataCenterPage .sticky-elem{
        flex-direction: column;
        width:100vw;
        transform: translateY(50px);
    }
    #scene1 .right-text{
        transform:translate(0,-300px);
    }
    #scene2 .left-text{
        transform:translate(-150px,-300px);
    }
    #scene2 .right-text{
        transform:translate(150px,320px);
    }
    .DataCenterPage .impact-text{
        font-size:2vh;
    }

    .DataCenterPage .phone-img{
        width:auto;
        height:50vh;
    }
    #scene2_img {
        transform: translateY(10vh);
    }
    .DataCenterPage .phone-img-lg{
        width:auto;
        height:70vh;
    }
    .DataCenterPage .phone-img-sm{
        width:auto;
        height:45vh;
    }
    .pixel-img{
        width:auto;
        height:100vh;
        object-fit: cover;
    }
    .DataCenterPage .earth-graphic-img{
        position: absolute;
        transform: translate(-40px,10px);
        width:auto;
        height:75vh;
    }

    #scroll-section-1 .wifi-icon {
        margin: 0;
        transform:translate(-0.65vw,-20vh);
        width:50vw;
    }

    .DataCenterPage .right-text{
        transform: translate(0,-260px);
    }

}

@media (max-width:480px){
    .DataCenterPage .impact-text{
        font-size:1.5vh;
        text-align: center;
    }
    .DataCenterPage p:not(.impact-text){
        font-size: 2vh;
    }
    #scene1 .right-text{
        transform: translate(0,-66vw);
    }
    #scene2 .left-text{
        transform: translate(-24vw,-73vw)
    }
    #scene2 .right-text{
        transform: translate(16vw,-70vw)
    }
    .DataCenterPage .right-text{
        transform: translate(0,-33vh)
    }

}